# CAN BE EITHER DEV OR PROD
ENV=DEV

SERVICE_TITLE=Your Service Title

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=dbname
POSTGRES_USER=user
POSTGRES_PASSWORD=password

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password

API_KEY=your-api-key-here

OUTBOX_POLL_INTERVAL=1.0
WEBHOOK_RETRY_ATTEMPTS=5
WEBHOOK_RETRY_BASE_DELAY=1.0
WEBHOOK_TIMEOUT=10

LOG_LEVEL=INFO
